<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdlions.trustedload.recharge">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RechargeMenu"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.RechargeMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BKash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.bKash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.History" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BKashHistory"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.bKashHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopUpHistory"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.TopUpHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopUp"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.TopUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBBL"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.DBBL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MCash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.mCash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UCash"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.UCash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBBLHistory"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.DBBLHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MCashHistory"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.mCashHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UCashHistory"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.UCashHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Payment"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.Payment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassword"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.ChangePassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.Account" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PinCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.PinCode" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PackageRecharge"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.badlions.trustedload.recharge.PackageRecharge" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
